<%= render partial: "glysellin/cart/navigation", locals: { cart: current_cart } %>

<div class="row">
  <div class="col-md-12">
    <h2><%= t('glysellin.labels.cart.your_cart') %></h2>

    <%= render partial: 'glysellin/cart/products', locals: { :cart => current_cart, :editable => true } %>

    <%= link_to t("glysellin.labels.cart.cancel"), cart_path, method: "delete" %>
  </div>
</div>
