<div class="cart-shipment">
  <h4><%= t("glysellin.labels.cart.shipping_method") %></h4>
  <div class="shipment-informations" style="float:left;width:200px;">
    <%= cart.shipment.shipping_method.name %>
  </div>
  <div style="clear:both;"></div>
</div>
